body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
	width: 75px;
}

.outerDiv {
	margin: 1em;
}

.innerDiv {
	display: inline-block;
	margin-left: 10px;
}

.name {
	font-size: 1.25em;
	font-weight: bold;
}